@media (max-width: 1000px) {
    div >div .cam{
        z-index: 2;
        position: absolute;
        left: 50%;
        transform: translateX(-10%); 
        border: 5px solid white;
        border-radius: 100%;
        background: white;
        margin-top: 50px;
        /* width: 1%; */
    }
  }

